*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: "FjallaOne";
   
}

a{
    color: unset;
    text-decoration: none;
}

body{
    overflow: hidden;
    text-transform: uppercase;
    
}

.back-image{
    z-index: -9999;
    position: fixed;
    width: 100%;
    height: 100dvh;
  
    object-fit: cover;
    object-position: center;
    
    
}

.an-element{
    background-image: url("../../assets/images/brown-back.png");
    color: #e69aa4;
    font-size: clamp(1.125rem,.939rem + .76vw,1.75rem);

}

.top-an-element{
    width: 100%;
    padding: 45px 20px;
    text-align: center;
    animation: top 1s;
    
}

.botton-an-element{
    padding: clamp(1.25rem,.599rem + 2.67vw,3.438rem) 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: botton 1s;

}

.title{
    font-size: clamp(3.75rem, .215rem + 14.5vw, 15.625rem);
    color: white;
    text-align: center;
}
.sub-title{
    font-size: clamp(1.25rem, .692rem + 2.29vw, 3.125rem);
    color: white;
    text-align: center;

    
    
}

.title-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

    margin: auto 0;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;
}

@keyframes top{
    from{
        margin: -125px 0 0 0;
    }
    to{
        margin: 0 0 0 0;
    }
}

@keyframes botton{
    from{
        margin: 0 0 -185px 0;
    }
    to{
        margin: 0 0 0 0;
    }
}
